<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../public/css/companies.css">
	<title>Document</title>
</head>

<body>
	<h1>Here is big companies</h1>

	<form action="/api/companies" method="POST">
		<input type="text" name="title" placeholder="title">
		<button type="submit">Send</button>
	</form>

	<ul>
		<% companies.forEach( e=> { %>
			<li>
				<h5>
					<%= e.title %>
				</h5>
			</li>
			<% }) %>
	</ul>
	<script src="../public/js/companies.js"></script>
</body>

</html>