body {
	padding-block: 1rem;
	max-height: 90vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container h1 {
	margin-block: 10px;
}

.container form {
	margin-block: 1rem;
}

.container form div {
	margin-block: 2rem;
}

.container form div input {
	display: block;
	outline:none;
	border: none;
	background-color: rgb(230, 242, 247);
	width: 60vw;
	padding: 0.7rem 0.5rem;
	margin-top: 6px;
	border-radius: 3px;
}

.container form button {
	display: block;
	background-color: rgb(237, 167, 29);
	border-radius: 15px;
	padding: 10px 15px;
	border: none;
	color: white;
	margin-top: 1.3rem;
	cursor: pointer;
}

.container .login {
	margin: 0;
}

.container .login span {
	color: lightblue;
}